<form action="/sessions" method="post">
    <input id="user-email-textbox" type="email" name="email">
    <input id="user-password-textbox" type="password" name="password">
    <input id="user-submit" type="submit" value="submit">
  </form>
  